@media only screen and (max-width:1440px){
    .header {
        width: 100%;
    }
}
@media only screen and (max-width:768px){
    h1 {
    font-size: 38px;
}
    .header {
        width: 100%;
    }
    /* .header-menus {
        display:ruby-base;
    } */
.header-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2% 8% 0 8%;
}
    .header-img img {
    height: 280px;
    width: 360px;
    margin-left: 10%;
    margin-top: 33%;
}
    .header-img img:hover {
    height: 310px;
    width: 390px;
    margin-left: 10%;
    margin-top: 33%;
}
    .player-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
.highlight-video {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
    .latest-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}
}